body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.left {
	float: left;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 300px;
}

.right {
	float: right;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 300px;
}